*.class
*~
*.swp

# Package Files #
*.jar
!/lib/*.jar
*.war
*.ear
sootOutput/
generatedJimple/

Testcases/src/Scratch.java
/GradualConstraints/bin/
testclasses-*/
/generate-jimple-testclasses.sh
/result

# sbt
target/
.cache-main

# Nicos Questions dont need to be public
/DynamicAnalyzer/QuestionsFromNico

# For MacOS system Files
*.DS_STORE

# For IDEA (Eclipse)
.metadata
.recommenders

## compilation output
*.iml
.idea/*
!/.idea/runConfigurations/
!/.idea/codeStyleSettings.xml
out/
bin/
# ant/
build.properties

## user specific files
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries
**/.idea/shelf

## Sensitive or high-churn files: 
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/artifacts
GradualConstraints/src/META-INF
openjdk7

.jimple
