<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TaintTracking/src/main/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="HIGH_INTENSITY" value="true"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-def-classpath ./../Testcases/bin -source-path ./../Testcases/src -program-classpath ./bin -cp ${system_property:java.home}/lib/rt.jar -main-class -constraints ${java_type_name} ${java_type_name}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TaintTracking"/>
</launchConfiguration>
